<div fxLayout="column">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="search" #nameInput (change)="onNameChanged.emit(nameInput.value)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of tags"
        (removed)="remove(tag)">
        {{tag}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Tags..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
