<div class="container" fxLayout="column">
	<div class="jumbotron mat-elevation-z6" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column">
		<div class="spacer"></div>
		<div class="image-container">
			<img [src]="shop.image" />
		</div>
		<div class="spacer"></div>
		<div class="info" fxLayout="column" fxLayoutAlign="start start">
			<h1>{{shop.name}}</h1>
			<h3>{{shop.description}}</h3>
			<mat-chip-list>
				<mat-chip *ngFor="let tag of shop.tags"
						  [routerLink]="['/search']" [queryParams]="{tag: tag}">
					{{tag}}
				</mat-chip>
			</mat-chip-list>
		</div>
	</div>
	<div class="item-area" fxLayout="row" fxLayoutAlign="space-around start"
			 fxLayout.lt-md="column-reverse" fxLayoutAlign.lt-md="space-around center"
			 ngClass.gt-sm="item-area-gt-sm">
		<div class="item-list mat-elevation-z4" fxLayout="column">
			<h2>Search</h2>
			<app-search 
				[tags]="tagsFilter"
				[allTags]="allTags"
				(onNameChanged)="updateFilter($event, tagsFilter)"
				(onTagsChanged)="updateFilter(nameFilter, $event)">
			</app-search>
			<h2>Available items</h2>
			<div *ngFor="let item of items; let lastItem = last">
				<div class="item" fxLayout="row" fxLayoutAlign="start center" >
					<div class="spacer"></div>
					<img [src]="item.image" *ngIf="item.image !== ''"/>
					<div class="spacer"></div>
					<div class="item-text" fxFlex="1 1" 
						 fxLayout="column" fxLayoutAlign="space-around start">
						<h3>{{item.name}}</h3>
						<p>{{item.description}}</p>
						<mat-chip-list>
							<mat-chip *ngFor="let tag of item.tags" (click)="addTag(tag)">
								{{tag}}
							</mat-chip>
						</mat-chip-list>
					</div>
					<div fxLayout="column" fxLayoutAlign="space-around end" style="height:100%">
						<h3>{{item.price}}rsd</h3>
						<div *ngIf="!canEdit">
							<button mat-icon-button color="primary" (click)="orderItem(item)">
								<mat-icon>add</mat-icon>
							</button>
						</div>
						<div *ngIf="canEdit" fxLayout="row">
							<button mat-icon-button color="accent" (click)="deleteItem(item)">
								<mat-icon>delete</mat-icon>
							</button>
							<button mat-icon-button color="primary" (click)="editItem(item)">
								<mat-icon>edit</mat-icon>
							</button>
						</div>
					</div>
				</div>
				<mat-divider *ngIf="!(lastItem && !canEdit)"></mat-divider>
			</div>
			<div class="new-item" fxLayout="column" fxLayoutAlign="center center">
				<button mat-mini-fab color="primary" (click)="createItem()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>
		<div class="spacer"></div>
		<app-order [(order)]="order" (submitOrder)="onSubmitOrder()"></app-order>
	</div>
</div>
