<div class="explore" fxLayout="column">
  <div class="jumbotron mat-elevation-z6">
    <h1>Welcome to Shop4Me</h1>
    <h2>The best shopping, right from the comfort of your home.</h2>
  </div>
    <mat-tab-group mat-align-tabs="center" dynamicHeight style="tab">
      <mat-tab label="Popular shops" class="tab">
        <div class="content" ngClass.gt-sm="content-gt-sm">
          <h1>Our reccomendation</h1>
          <app-shop-list [shops]="shops"
                         (tagClicked)="onTagClicked($event)">
          </app-shop-list>
        </div>
      </mat-tab>
      <mat-tab label="Popular tags" class="tab">
        <div class="content" ngClass.gt-sm="content-gt-sm">
          <h1>Popular types of shops</h1>
          <div class="card-list">
            <mat-card class="card mat-elevation-z4" 
                      *ngFor="let tag of tags" 
                      [routerLink]="['/search']" [queryParams]="{ tag: tag }"> 
              <mat-card-title fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>sell</mat-icon>
                <span fxFlex="1 1">{{tag}}</span>
              </mat-card-title>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
