.card-list {
  --repeat: auto-fit;
}

@media (min-width: calc(282px * 3)) {
  .card-list {
    --repeat: 3;
  }
}

.card-list {
    display: grid;
    grid-template-columns: repeat(var(--repeat, auto-fit), 282px);
    grid-gap: 1rem;
    justify-content: space-around;
}

.card {
    width: 250px;
    text-align: center;
    margin-bottom: 15px;

    img {
        object-fit: contain;
        height: 150px;
    }

    mat-card-footer {
        width: calc(100% + 2*16px);
        height: 39px;
        overflow: hidden;

        mat-card-list {
            width: 100%;
        }
    }

    &:hover {
        background-color: #f5f5f5;
    }

    &:active {
        background-color: #f0f0f0;
    }
}

mat-chip-list ::ng-deep .mat-chip-list-wrapper {
  flex-wrap: unset !important;
  width: 100%;
  overflow-x: scroll;
}
